html, body {
  padding: 0;
  margin: 0;
  background: $base-secondary-color;
}

.jumbotron.primary {
  background-color: $base-primary-color;
  color: #fff;
  padding-bottom: 10px;

  h4 {
    font-weight: 200;
  }
}

h4.h4 {
  color: #9d9d9d;
}

.label.label-default {
  background-color: $base-light-text-color;
}

.pb1 {
  padding-bottom: 10px;
}

.pb4 {
  padding-bottom: 40px;
}

.btn.btn-primary {
  background-color: $base-primary-color;
  border: none;
}

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }
}

.card {
  padding: 20px;
  box-shadow: none;
  @extend .panel;
  @extend .panel-default;

  .title {
    font-size: 18px;

    a {
      color: $base-text-color;
    }
  }

  .subtitle {
    color: $base-light-text-color;
  }
}
