//===========
//== Color ==
//===========

$base-error-color: $red;
$base-success-color: $green;
$base-primary-color: $blue;
$base-secondary-color: $light-gray;
$base-text-color: $black;
$base-light-text-color: $dark-gray;
