.eligibility.filter {
  padding: 10px;

  label.custom-checkbox-label {
    margin-bottom: 0;
    font-weight: normal;
    height: 20px;
    user-select: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  .custom-checkbox {
    margin-right: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: $base-secondary-color;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    line-height: 1;
  }

  .custom-checkbox::before {
    content: "\e013";
    color: #424242;
    display: block;
    visibility: hidden;
  }

  input[type=checkbox]:checked+.custom-checkbox {
    border: solid 1px $base-primary-color;
  }

  input[type=checkbox]:checked+.custom-checkbox::before {
    visibility: visible;
    display: block;
    color: #fff;
    background-color: $base-primary-color;
    border-radius: 2px;
    height: 100%;
  }

  .name {
    color: $base-light-text-color;
    display: inline-block;
  }
}
