<div class="card">
  <div class="title">
    <%= link_to(organization.decorate.name, organization_path(organization)) %>
  </div>
  <div class="subtitle">
    <% organization.locations.each do |location| %>
      <div><%= location.decorate.address %></div>
    <% end %>
  </div>
  <% if @show_eligibilities %>
    <div class="eligibilities">
      <% organization.eligibilities.each do |eligibility| %>
        <span class="label label-default"><%= eligibility.name %></span>
      <% end %>
    </div>
  <% end %>
</div>
