<% provide(:title, "All Organizations") %>

<div class="jumbotron primary">
  <div class="container">
    <h4>Resource Search</h4>
  </div>
</div>

<div class="container">
  <h4 class="h4">Filters</h4>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= render partial: "eligibilities/filter" %>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-1">
      <%= render @organizations %>
    </div>
  </div>

</div>
