<% provide(:title, @organization.name) %>

<div class="jumbotron primary">
  <div class="container">
    <h4>Organization</h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render @organization %>

      <%= link_to("Back to All Organizations", organizations_path) %>
    </div>
  </div>
</div>
