<div class="pb2">
  <%= form_tag "/organizations/filter", method: :get do %>
    <% @eligibilities.each do |el| %>
      <div class="eligibility filter card">
        <label class="custom-checkbox-label">
          <%= check_box_tag "eligibilities[]", el.name, el.selected? %>
          <span class="custom-checkbox"></span>
          <span class="name"><%= el.name %></span>
        </label>
      </div>
    <% end %>
    <div class="pb1">
      <%= check_box_tag "and", "and", @and %> Only results with all checked services
    </div>
    <div class="pb4">
      <%= submit_tag "Apply Filter", id: "apply_filter", class: "btn btn-primary pull-right-lg" %>
    </div>
  <% end %>
</div>
