<!DOCTYPE html>
<html>
<head>
  <title>FullStackChallenge</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
</head>
<body>

<div class="flashes">
  <% if flash[:success] %>
    <p class="success"><%= flash[:success] %></p>
  <% end %>

  <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
  <% end %>
</div>

<%= yield %>

</body>
</html>
